body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #101116;
    font-family: 'Strait', sans-serif;
    color: #ededed;
    overflow:hidden;
}

header {
    z-index: 100;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

a {
    text-decoration: none;
    color: #ededed;
    cursor: default;
}

.wallpaper {
    background-image: radial-gradient(#1b1f29, #101116);
    z-index: -1;
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    height: 100%; 
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    display: block;
    top: 0.4em;
    cursor: default;
}

.hoverable:hover {
    color: rgb(184, 184, 184);
}

nav {
    position: fixed;
    top: 0.4em;
    right: 1em;
    margin: 0.67em 0 0.67em 0;
}

#nav {
    display: inline;
    z-index: 100;
}

nav ul li {
    list-style-type: none;
    display: inline;
    font-size: 1.2em;
    cursor: pointer;
    margin: auto 0.25em;
}

nav ul li a {
    padding-bottom: 0.25em;
    transition: border 0.2s ease;
}
nav ul li a:hover {
    color: #89B6A5;
    border-bottom: 0.1em solid #89B6A5;
    border-radius: 0.1em;
}

nav #selectedPage {
    color: #89B6A5;
}

.logo {
    top: 0.6em;
    position: fixed;
    left: 1em;
    font-size: 2em;
    font-weight: bold;
    width: 1.5em;
    line-height: 0.74em;
}

.logo a {
    word-wrap: break-word;
}

.menuIcon {
    display: inline;
    cursor: pointer;
    right: 1em;
    font-size: 1.5em;
    margin-left: 0.5em;
}

.social {
    position: fixed;
    left: 1em;
    bottom: 1em;
}

.social a {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 0.25em;
    padding: 0;
    padding-right: 0.25em;
    transition: border 0.2s ease;
}

.social a:hover {
    color: #89B6A5;
    border-right: 0.1em solid #89B6A5;
    border-radius: 0.1em;
}