<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>bradrogers.io</title>

    <meta name="title" content="">
    <meta name="description" content="Personal Website for Brad Rogers">
    <meta name="author" content="Brad Rogers">

    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link rel="icon" href="assets/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="assets/css/styles.css">
    {% if page.url=="/" %}
    <link rel="stylesheet" href="assets/css/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap">
    {% elsif page.url=="/contact.html" %}
    <link rel="stylesheet" href="assets/css/contact.css">
    {% endif %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Strait&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />

    <meta property="og:title" content="bradrogers.io" />
    <meta property="og:site_name" content="bradrogers.io" />
    <meta property="og:url" content="https://bradrogers.io" />
    <meta property="og:description" content="Brad Rogers. Adevnturer, Innovator, Developer." />
    <meta property="og:image" content="https://bradrogers.io/assets/img/opengraph.png" />
    <meta proprtyy="og:type" content="website" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16906996-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-16906996-5');
    </script>
</head>