---
---

.content-half {
    position: fixed;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    margin: 0;
    background-color: rgba(21, 20, 23, 0.7);
    box-shadow: -10px 0px 10px rgba(21, 20, 23, 0.7);
}

.content-box {
    position: fixed;
    top: 20%;
    right: 2em;
    width: 40%;
    height: 50%;
    margin: 0;
    opacity: 1;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.title {
    font-size: 4em;
    font-weight: bolder;
    cursor: default;
    margin: 0;
    padding-bottom: 0.5em;
    color: #ED6A5A;
}

.email {
    font-size: 1.3em;
    padding-left: 1em;
}

.content-box div a::before {
    font-family: 'simple-line-icons';
    font-weight: bolder;
    padding-right: 0.5em;
}

.content-box div {
    padding: 1em;
    margin: auto;
}

.content-box div a {
    font-family: 'Strait', sans-serif;
    font-size: 1.5em;
}

.content-box div a span:hover {
    color: #89B6A5;
    border-bottom: 0.1em solid #89B6A5;
    border-radius: 0.1em;
}