---
---

@import "colors";
@import "fonts";
@import "mixins";
@import "breakpoints";

.content-half {
    position: fixed;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    margin: 0;
    background-color: rgba(21, 20, 23, 0.7);
    box-shadow: -10px 0px 10px rgba(21, 20, 23, 0.7);

    @media (max-width: $screen-lg-min){
        width: 100%;
        height: 100%;
    }
}

.content-box {
    position: fixed;
    top: 20%;
    right: 2em;
    width: 40%;
    height: 50%;
    margin: 0;
    opacity: 1;
    @include unselectable;

    @media (max-width: $screen-lg-min){
        position: relative;
        flex-direction: column;
        @include flex-center;
        height: 100%;
        width: 100%;
        top: 10%;
        left: auto;
        right: auto;
    }
}

.title {
    font-size: 4em;
    font-weight: bolder;
    cursor: default;
    margin: 0;
    padding-bottom: 0.5em;
    color: $title-color;

    @media (max-width: $screen-lg-min){
        font-size: 2em;
    }
}

.email {
    font-size: 1.3em;
    padding-left: 1em;
}

.content-box div a::before {
    font-family: $icon-font;
    font-weight: bolder;
    padding-right: 0.5em;
}

.content-box div {
    padding: 1em;
    margin: auto;

    @media (max-width: $screen-lg-min){
        padding: 0;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.content-box div a {
    font-family: $main-font;
    font-size: 1.5em;

    @media (max-width: $screen-lg-min){

    }
}

.content-box div a span:hover {
    color: $accent-color;
    border-bottom: 0.1em solid $accent-color;
    border-radius: 0.1em;
}